@page
@model pryNatillera.Pages.Natillera.CreateModel
@{
    ViewData["Title"] = "Create";
}

<h2>Crear Natillera</h2>


<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Información nueva natillera</div>
        <div class="panel-body">           
            <form method="post" class="form-horizontal">
                <div asp-validation-summary="All" class="text-danger"></div>
                <input asp-for="Natillera.NatilleraId" type="hidden" />
                <div class="form-group form-group-sm">
                    <label class="col-md-2 control-label" asp-for="Natillera.DescripcionNatillera">Descripción</label>
                    <div class="col-md-4">
                        <input asp-for="Natillera.DescripcionNatillera" class="form-control input-sm" />
                        <span asp-validation-for="Natillera.DescripcionNatillera" class="text-danger"></span>
                    </div>

                    <label class="col-md-offset-2 col-md-2 control-label" asp-for="Natillera.DiasGraciaMora">Dias de Gracia Mora</label>
                    <div class="col-md-1">
                        <input asp-for="Natillera.DiasGraciaMora" class="form-control input-sm" />
                        <span asp-validation-for="Natillera.DiasGraciaMora" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-2 control-label" asp-for="Natillera.FechaInicioPagoCuota">Fecha Inicio Cuota</label>
                    <div class="col-md-2">
                        <date-util format="dd/MM/yyyy"></date-util>
                        <input type="date" asp-for="Natillera.FechaInicioPagoCuota" class="form-control input-sm" />
                        <span asp-validation-for="Natillera.FechaInicioPagoCuota" class="text-anger"></span>
                    </div>
                    <label class="col-md-2 control-label" asp-for="Natillera.NumeroCuotas">Número Cuotas</label>
                    <div class="col-md-2">
                        <select asp-for="Natillera.NumeroCuotas" class="form-control input-sm ">
                            <option value="1">Una</option>
                            <option value="2">Dos</option>
                            <option value="3">Tres</option>
                            <option value="4">Cuatro</option>
                            <option value="5">Cinco</option>
                            <option value="6">Seis</option>
                            <option value="7">Siete</option>
                            <option value="8">Ocho</option>
                            <option value="9">Nueve</option>
                            <option value="10">Diez</option>
                            <option value="11">Once</option>
                            <option selected="selected" value="12">Doce</option>
                        </select>
                        <span asp-validation-for="Natillera.NumeroCuotas" class="text-danger"></span>
                    </div>
                    <label class="col-md-2 control-label" asp-for="Natillera.TipoPago">Tipo Pago</label>
                    <div class="col-md-2">
                        <select asp-for="Natillera.TipoPago" class="form-control input-sm ">
                            <option value="15">Quincenal</option>
                            <option selected="selected" value="30">Mensual</option>
                        </select>
                        <span asp-validation-for="Natillera.TipoPago" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group form-group-sm">
                    <label class="col-md-2 control-label" asp-for="Natillera.ValorCuota">Valor Cuota</label>
                    <div class="col-md-2">
                        <input asp-for="Natillera.ValorCuota"  class="form-control input-sm" />
                        <span asp-validation-for="Natillera.ValorCuota" class="text-anger"></span>
                    </div>
                    <label class="col-md-2 control-label" asp-for="Natillera.ValorMora">Valor Mora</label>
                    <div class="col-md-2">
                        <input asp-for="Natillera.ValorMora"  class="form-control" />
                        <span asp-validation-for="Natillera.ValorMora" class="text-danger"></span>
                    </div>
                    <label class="col-md-2 control-label" asp-for="Natillera.ValorMoraDiaFijo">Valor Mora Día Fijo</label>
                    <div class="col-md-2">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" asp-for="Natillera.ValorMoraDiaFijo" />
                            </label>
                        </div>
                        <span asp-validation-for="Natillera.ValorMoraDiaFijo" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <a asp-page="./Index">Regresar Natillera</a>
</div>
<script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="~/js/Natillera/Natillera.js"></script>

